<%- include('header', {title: "All Transactions"}); -%>
<%- include('navbar'); -%>

<h1 class="text-center display-4 fw-bold">All Transactions</h1>

<div class="container" style="max-width:720px">
  <table class="table table-hover table-borderless">
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Name</th>
        <th scope="col">Amount</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <%trxn.forEach((item) => { %>

          <tr>
            <td><%=item.date%></td>
            <td>
              <%=item.exp_name%>
              <span class="badge bg-secondary"><%=item.category%></span>
            </td>
            <td><%=item.exp_amount%></td>
            <td>
              <form action="/trxn/<%=item.id%>?_method=DELETE" method="POST">
                <a class="btn btn-outline-primary btn-sm" href="/trxn/<%=item.id%>">View</a>
                <a class="btn btn-outline-secondary btn-sm" type="button" href="/trxn/<%=item.id%>/edit">Edit</a>
                <input type="submit" class="btn btn-outline-danger btn-sm" value="Delete" />
              </form>
            </td>
          </tr>
      <%})%>
    </tbody>
  </table>
</div>


<div class="container d-grid gap-2" style="max-width:540px">
  <a class="btn btn-secondary" type="button" href="/dashboard">Back to Dashboard</a>
</div>

<%- include('footer'); -%>